
.mainBox{
    border: 1px solid rgba(0, 0, 0, 0);
    margin-top: 0;
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(#7fb57a, #08a0a8);
}

.box{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.head{
    font-size: 50px;
}

.head{
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #08a0a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.name{
    font-size: 30px;
    font-weight: bold;
    color: rgb(12, 120, 120);
}

.details{
    font-size: 20px;
    font-weight: 600;
}

.package{
    font-size: 20px;
    font-weight: 600;
    color: blueviolet;
}